* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.perfil {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
}

.gridContainerGeral {
  display: grid;
  grid-template-rows: 91px 1fr 300px;
  grid-template-areas:
    "navBar"
    "mainGeral"
    "footerGeral";
}

.navBar {
  grid-area: navBar;
  background-color: #75cc8f;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBar ul {
  display: flex;
}

.navBar a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #404040;
  letter-spacing: 1px;
}

.navBar li {
  list-style: none;
  padding-right: 30px;
}

.mainGeral {
  grid-area: mainGeral;
  background-color: aqua;
}

.footergeral {
  grid-area: footerGeral;
  background-color: tomato;
}
