* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav-bar {
  height: 50px;
  width: 100%;
  background-color: #75cc8f;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  margin-bottom: 50px;
}

.nav-bar > .nav-header {
  display: inline;
}

.nav-perfil img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
}

.nav-bar > .nav-btn {
  display: none;
}

.nav-bar > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav-bar > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #404040;
  letter-spacing: 1px;
}

.nav-bar > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-bar > #nav-check {
  display: none;
}

.mainGeral {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .nav-perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
  }

  .nav-bar {
    margin-bottom: 10px;
  }

  .nav-bar > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav-bar > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 40px;
    padding: 8px 13px;
    margin: 5px;
    border: #eaeaea solid 1px;
  }

  .nav-bar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav-bar > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #75cc8f;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav-bar > .nav-links > a {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .nav-bar > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav-bar > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
